@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/credit-card');

.translate-z-0 {
  transform: translateZ(0px);
}

@layer components {
  .nav-item {
    @apply after:content-[""] after:absolute xl:after:w-full after:h-0 xl:after:top-10 xl:after:left-0 xl:hover:after:h-0.5 xl:after:bg-[#dcf14f] after:mt-1.5  after:rounded after:mx-auto text-center transition-all duration-200;
  }
  .nav-item.active {
    @apply xl:after:h-0.5;
  }

  nav ul li {
    box-shadow: 0 20px 13px rgba(0, 0, 0, 0.03), 0 8px 5px rgba(0, 0, 0, 0.08);
    @apply relative w-full xl:w-auto bg-[#0e1612] border-y border-[#1b2d25] xl:bg-transparent xl:border-none px-2 py-4 xl:shadow-none;
  }

  nav ul li.active {
    @apply bg-[#11201a] w-full xl:w-auto xl:bg-transparent;
  }
}

@layer toggle {
  .toggle {
    @apply relative top-0 left-0 w-full h-[50px] bg-[#2196f3] text-white flex xl:hidden items-center justify-end py-0 px-5 text-xl cursor-pointer;
  }

  .toggle::before {
    content: '';
    margin-right: 10px;
  }

  .toggle.active::before {
    content: '';
    margin-right: 10px;
  }

  .toggle span {
    position: relative;
    width: 20px;
    height: 50px;
  }

  .toggle span::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transition: 0.5s;
  }

  .toggle span::after {
    content: '';
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 100%;
    height: 2px;
    background: white;
    transition: 0.5s;
  }

  .toggle.active span::before {
    transform: rotate(225deg);
    top: 24px;
  }
  .toggle.active span::after {
    transform: rotate(135deg);
    bottom: 24px;
  }
}

@layer neonButton {
  .neon a {
    position: relative;
    display: inline-block;
    padding: 10px 14px;
    color: #dcf14f;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }

  .neon a:hover {
    transform: scale(1.1);
  }

  .neon a span {
    position: absolute;
    display: block;
  }

  .neon a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #dcf14f);
    animation: btn-anim1 1s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }

  .neon a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #dcf14f);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }

  .neon a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #dcf14f);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }

  .neon a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #dcf14f);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }
}

@layer marquee {
  .marquee {
    height: 100%;
    width: 100%;
    border: 2px solid #eee;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    /* margin: 100px auto; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .marquee--inner {
    display: flex;
    gap: 80px;
    width: 200%;
    margin: 70px 0;
    position: absolute;
    animation: marquee 20s linear infinite;
  }

  .marquee--inner:hover {
    animation-play-state: paused;
  }

  .img:hover {
    transform: scale(1.2);
    opacity: 0.5;
    cursor: pointer;
  }

  .img {
    transition: all 0.2s ease-out;
    margin: 0 24.7px;
  }

  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
}

@layer voltiCard {
  #block-volticard-visual {
    display: none;
    align-items: center;
    flex-basis: 50%;
    justify-content: center;
    color: white;
  }

  #block-volticard-visual-card {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-image: linear-gradient(90deg, #111, #555);
    border-radius: 0.875rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: var(--color-text-light);
    font-family: CreditCard, monospace;
    height: 15.625rem;
    overflow: hidden;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 25rem;
  }

  #block-volticard-visual-card .logo {
    height: 5rem;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
  }

  #block-volticard-visual-card .name {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    left: 1.5rem;
    position: absolute;
    top: 1.875rem;
  }

  #block-volticard-visual-card .chip {
    align-items: center;
    background-image: linear-gradient(to bottom left, #ffecc7, #d0b978);
    border-radius: 0.25rem;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    left: 1.5rem;
    overflow: hidden;
    position: absolute;
    top: 4.5rem;
    width: 3.125rem;
  }

  #block-volticard-visual-card .chip .chip-line {
    background-color: #333;
    height: 1px;
    position: absolute;
    width: 100%;
  }

  #block-volticard-visual-card .chip .chip-line:first-child {
    top: 13px;
  }

  #block-volticard-visual-card .chip .chip-line:nth-child(2) {
    top: 20px;
  }

  #block-volticard-visual-card .chip .chip-line:nth-child(3) {
    top: 28px;
  }

  #block-volticard-visual-card .chip .chip-line:nth-child(4) {
    height: 50px;
    left: 25px;
    width: 1px;
  }

  #block-volticard-visual-card .chip .chip-main {
    background-image: linear-gradient(to bottom left, #efdbab, #e1cb94);
    border: 1px solid #333;
    border-radius: 3px;
    height: 25px;
    width: 20px;
    z-index: 1;
  }

  #block-volticard-visual-card .wave {
    height: 2.5rem;
    left: 5.75rem;
    position: relative;
    top: 4.5rem;
  }

  #block-volticard-visual-card .card-number {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    left: 1.5rem;
    position: absolute;
    right: 1.5rem;
    top: 8.5rem;
  }

  #block-volticard-visual-card .expires {
    font-size: 0.875rem;
    left: 1.5rem;
    position: absolute;
    top: 10.25rem;
  }

  #block-volticard-visual-card .expires .end-text {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.5625rem;
  }

  #block-volticard-visual-card .card-holder {
    left: 1.5rem;
    position: absolute;
    top: 12.375rem;
  }

  #block-volticard-visual-card .visa {
    display: flex;
    opacity: 0.3;
    position: absolute;
    right: 1.5rem;
    top: 12.25rem;
  }

  #block-volticard-visual-card .visa svg {
    height: 1.5rem;
  }

  @media (min-width: 1280px) {
    #block-volticard-visual {
      display: flex;
    }
  }
}

@layer animatedBackground {
  /* 3 divs */
  .picture {
    display: none;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    transform: rotate(135deg) translate(-5rem, -25rem);
  }

  .picture > div {
    position: absolute;
    width: 100%;
  }

  .picture > div:first-child {
    animation: first-stripe-animation 3s ease-in-out infinite alternate;
    background-color: #11201a;
    bottom: 12rem;
    height: 12rem;
  }

  .picture > div:nth-child(2) {
    animation: second-stripe-animation 5s ease-in-out infinite alternate;
    background-color: #c5d845;
    bottom: 6rem;
    height: 6rem;
  }

  .picture > div:nth-child(3) {
    animation: third-stripe-animation 4s ease-in-out infinite alternate;
    background-color: #687321;
    bottom: 3rem;
    height: 3rem;
  }

  @keyframes first-stripe-animation {
    0% {
      height: 12rem;
    }

    to {
      height: 13rem;
    }
  }

  @keyframes second-stripe-animation {
    0% {
      height: 6rem;
    }

    to {
      height: 9rem;
    }
  }

  @keyframes third-stripe-animation {
    0% {
      bottom: 3rem;
      height: 3rem;
    }

    to {
      bottom: 2rem;
      height: 6rem;
    }
  }

  @media (min-width: 1280px) {
    .picture {
      display: inline-block;
    }
  }
}
